.nav_item{
    text-decoration: none;
    color: var(--letras);
    transition: all 0.5s;
}
.nav_item:hover{
    color: var(--hover);
    border-bottom: 1px solid;
}
@media (min-width:0) {
    .nav_item{
        font-size: 1em;
    }
}
@media (min-width:766px) {
    .nav_item{
        font-size: 1.25em;
    }
    
}